.primary{
    background-color: #0c6efd;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    color: #fff;

}
.secondary{
    background-color: #6c757d;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    padding: 15px 10px;
}
.success{
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
}
.error{
    background-color: #dc3444;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
}
.warning{
    background-color: #ffc007;
     border: none;
    border-radius: 5px;
    padding: 10px 15px;

}